{% extends "includes/nav_footer.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock styles %}

{% block title %}
<title>Image Similarity Search</title>
{% endblock title %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-info">
        <h1>Multimodal AI Image Similarity Search</h1>
        <hr>
        <p>Explore the following options to enhance your experience with vector database. We have tried to
            develop a demo that how can a state of the art model can be used to generate learnable embeddings and
            how can we store those embeddings and use it to develop scalable AI applications.
        </p>
    </div>
    <div class="options-container dropdown">
        <a class="option dropdown-toggle" href="" id="datasetDropdownMenu" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div>
                <h3>Search in NOCAPS</h3>
                <hr>
                <p>The query result images will <br> be fetched from specified dataset.</p>
            </div>
        </a>
        <a class="option dropdown-toggle" href="" id="datasetDropdownMenu" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div>
                <h3>Search in COCO</h3>
                <hr>
                <p>Results will be retrieved <br> from COCO dataset.</p>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="datasetDropdownMenu">
            <li><a class="dropdown-item" href="">Search With Text</a></li>
            <li><a class="dropdown-item" href="">Search With Image</a></li>
        </ul>

        <a class="option" href="file-upload/">
            <div>
                <h3>Upload Your Own Dataset</h3>
                <hr>
                <p>Your images will be stored and <br> you will be able to run query on your own images.</p>
            </div>
        </a>
    </div>
</div>
{% endblock content %}