{% extends "includes/nav_footer.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/query_with_texts.css" %}">
{% endblock styles %}

{% block title %}
<title>Query With Texts</title>
{% endblock title %}

{% block content %}
<div class="upload-form">
    <h2>Submit Your Query Text</h2>
    <form action="{% url "similarity_search_text" %}" method="POST">
        {% csrf_token %}
        <div class="file-input-container">
            <textarea class="form-control" name="query" id="query" cols="35" rows="3"
                placeholder="Any prompt related to your uploaded texts..." required></textarea>
        </div>
        <input class="button" type="submit" value="Submit Query">
    </form>

    <div class="response-container">
        <div class="query-result" id="query-result">
            <h2>Response to the Query</h2>
        </div>
        {% for image_path in query_response %}
        <div class="row mx-auto justify-content-center">
            <div class="card mx-2 p-0 mb-4 shadow">
                <img src="{% static '/query_results/' %}{{image_path}}" class="card-img-top" alt="{{image_path}}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
