{% extends "includes/nav_footer.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/upload.css" %}">
{% endblock styles %}

{% block title %}
<title>Image Similarity Search</title>
{% endblock title %}

{% block content %}
<div class="upload-form">
    <h2>Upload Zip File Containing Images</h2>
    <form action="similarity-search/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="file">Choose a zip or rar file</label>
            <input class="form-control" type="file" id="file" name="files" accept=".zip,.rar" multiple required>
        </div>
        <label class="form-label">Choose a search option</label>
        <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" name="search_mode" required>
            <option value="" disabled selected>Select your option</option>
            <option value="text">Search with text</option>
            <option value="image">Search with image</option>
        </select>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock content %}